$padding-inline: 14px;
$transition: .3s;
$text-padding: 20px;
$border: 1px white solid;

.accordion {
  --header-bg: #2c2c2c;
  --header-text: #F9F6EE;
  --open-header-bg: #333333;
  --open-header-text: #F9F6EE;
  --body-bg: #3f3f3f;
  --body-emphasize-text: #E2DFD2;
  --body-emphasize-secondary-text: #d5d5d2;
  --body-text: #b4b4b2;

  &.blue {
    --open-header-bg: #0c205c;
    --open-header-text: #6caef0;
    --body-bg: #202e67;
    --body-text: #5976c6;
    --body-emphasize-text: #6590ed;
    --body-emphasize-secondary-text: #537cd6;
    // --body-text: #c2f3f3;
    // --body-emphasize-text: #7b90ca;
  }

  &.green {
    --open-header-bg: rgb(6, 61, 6);
    --open-header-text: rgb(135, 218, 135);
    --body-bg: rgb(94, 142, 94);
    --body-text: rgb(194, 249, 194);
  }

  &.purple {
    --open-header-bg: rgb(59, 10, 97);
    --open-header-text: rgb(182, 116, 226);
    --body-bg: rgb(112, 60, 158);
    --body-text: rgb(156, 125, 181);
    --body-emphasize-text: rgb(195, 160, 223);
    --body-emphasize-secondary-text: rgb(187, 136, 222);
  }

  &.orange {
    --open-header-bg: rgb(141, 96, 0);
    --open-header-text: rgb(240, 194, 110);
    --body-bg: rgb(160, 123, 55);
    --body-emphasize-text: rgb(221, 199, 157);
    --body-emphasize-secondary-text: rgb(220, 181, 134);
    --body-text: rgb(221, 204, 157);
  }

  &.red {
    --open-header-bg: rgb(98, 12, 12);
    --open-header-text: rgb(176, 91, 91);
    --body-bg: rgb(136, 53, 53);
    --body-text: rgb(181, 106, 106);
    --body-emphasize-text: rgb(239, 129, 129);
    --body-emphasize-secondary-text: rgb(202, 113, 113);
  }
}

.accordion {
  width: 80vw;
  max-width: 650px;
  border-bottom: $border;
  border-left: $border;
  border-right: $border;
  overflow: hidden;

  &:first-child {
    border-top: $border;
  }

  .accordion-header {
    cursor: default;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: $padding-inline 20px;
    transition: $transition;

    .text {
      flex: 1;
      text-align: start;
      padding-inline: $text-padding;
      font-size: 20px;
    }

    .toggle-btn {
      display: block;
      padding: 4px;
      background-color: transparent;

      .icon {
        $size: 30px;
        display: block;
        width: $size;
        height: $size;
        color: #6699CC;
      }
    }
  }

  .accordion-body {
    height: 0;
    overflow: hidden;
    background-color: var(--body-bg);
    color: var(--body-text);
    padding-inline: $padding-inline;
    box-sizing: content-box;
    transition: $transition;

    * {
      text-align: justify;
      padding-inline: $text-padding;
      // font-size: 17px;
    }
  }

  &.open {
    .accordion-header {
      background-color: var(--open-header-bg);
      color: var(--open-header-text);

      .toggle-btn .icon {
        color: #7CB9E8;
      }
    }

    .accordion-body {
      height: var(--max-height);
      max-height: 40vh;
      overflow: scroll;
      padding-block: 12px;
    }
  }
}

.accordion-body-header {
  font-size: 22px !important;
  text-transform: capitalize;
  color: var(--body-emphasize-text);
}

.accordion-body-subheader {
  font-size: 18px !important;
  text-transform: capitalize;
  color: var(--body-emphasize-secondary-text);
}

.accordion-body-paragraph {
  font-size: 15px !important;
  padding-left: 30px !important;
  margin-bottom: 20px;
}