.email-card-container {
  background-color: #141414;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  min-width: 270px;
  margin: 10px;

  .email, .password {
    padding: 12px 20px;
    text-align: left;

    p {
      font-size: 14px;
      text-transform: capitalize;
      padding-bottom: 12px;
    }

    h4 {
      margin-left: 20px;
    }
  }

  .email {
    background-color: #4c82e5;
    cursor: pointer;
  }
  .password {
    background-color: #6495ED;
    min-height: 110px;

    .buttons-container {
      text-align: end;

      button {
        padding: 5px;
        margin-left: 14px;
        background-color: transparent;

        .icon {
          $size: 25px;
          display: block;
          width: $size;
          height: $size;
        }

        &:hover {
          .icon {
            color: #cdcdcd;
          }
        }
      }
    }

    .password-edit-container {
      display: inline-block;
      height: 34px;
      width: 100%;
      text-align: center;
    }
  }

  .modification-button {
    display: flex;
    flex-direction: row;

    button {
      flex: 1;
      text-align: center;

      .icon {
        display: block;
        margin: auto;
      }

      &:hover {
        .icon.edit {
          color: #4169E1;
        }
        .icon.delete {
          color: #CD5C5C;
        }
      }
    }

    button.discard {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: #CD5C5C;

      &:hover {
        background-color: #cb4747;
      }
    }
    button.proceed {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      background-color: #8FBC8B;

      &:hover {
        background-color: #7fc479;
      }
    }
  }
}