.loading {
  width: 80vw;
  max-width: 300px;
  margin: auto;

  .load-text {
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .load-bar {
    height: 6px;
    border: 1px #F9F6EE solid;
    display: flex;
    flex-direction: row;
    box-sizing: content-box;

    .bar {
      display: inline-block;
      height: 100%;

      &.fill {
        background-color: #8cc751;
      }
    }
  }
}