$error-text-font-size: 14px;
$margin-bottom: 20px;

.input-box {
  width: 280px;
  height: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: $margin-bottom;

  input {
    height: 100%;
    width: 70%;
    font-size: 20px;
    padding: 0 8px;
    border-radius: 5px;
    border: 1px #ccc solid;
    transition: .3s;

    &:focus {
      width: 100%;
      border-color: seagreen;
    }
  }

  input:focus + .toggle-visibility-btn {
    display: block;
  }
  .toggle-visibility-btn {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    padding: 5px;
    background-color: transparent;
    border: none;
    outline: none;

    :hover {
      color: #ddd;
    }
  }

  .error-text {
    position: absolute;
    display: block;
    user-select: none;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    font-size: $error-text-font-size;
    text-wrap: nowrap;
    padding: 2px 8px;
    background-color: #AA4A44;
    color: white;
    border-radius: 10px;
    z-index: 10;
  }
}