.service-account-card {
  width: 80vw;
  max-width: 500px;
  background-color: #fff;
  color: #213547;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  text-align: start;

  .wrapper {
    margin-bottom: 10px;

    h3 {
      font-size: 14px;
      text-transform: capitalize;
    }
    p {
      font-size: 18px;
      padding-left: 10px;
    }

    .password-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      button {
        .icon {
          $size: 20px;
          display: block;
          width: $size;
          height: $size;
        }
      }
    }
  }

  .wrapper.email {
    p {
      // text-decoration: underline;
      color: blue;
      cursor: pointer;
    }

    .oauth {
      text-align: right;

      span {
        font-size: 16px;
        background-color: #eee;
        padding: 10px;
        border-radius: 8px;

        i {
          color: #2E8B57;
        }
      }
    }
  }

  .button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .btn {
      flex: 1;
      margin-inline: 15px;
      border-radius: 20px;
      color: #213547;

      &.edit {
        background-color: #eee;
        &:hover {
          background-color: #dcdcdc;
        }

        &:disabled {
          background-color: #f0f0f0;
          color: #b0b0b0;
          cursor: not-allowed;
        }
      }

      &.delete {
        background-color: transparent;
        &:hover {
          color: #b93939;
        }
      }
    }
  }
}