@use '../../styles/fonts' as fonts;

.inline-block {
  display: inline-block;
  background-color: #141414;
  border-radius: 15px;
  overflow: hidden;
}

.header-container {
  padding: 20px 20px 14px;
  background-color: #93C572;

  .form-header {
    text-transform: capitalize;
    color: #FFFDD0;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  padding: 30px;
  box-sizing: content-box;
}

$input-height: 38px;
$margin-bottom: 12px;
$input-font-size: 18px;
$input-border-radius: 6px;
$input-color: #fffcc3;

.input-wrapper {
  height: $input-height;
  width: 100%;
  margin-bottom: $margin-bottom;
  position: relative;
  z-index: 100;

  .form-input {
    height: 100%;
    font-size: $input-font-size;
    padding-inline: 8px;
    width: 100%;
    background-color: #000;
    border: none;
    border-radius: $input-border-radius;
    color: $input-color;
    z-index: 10;

    &::placeholder {
      @include fonts.fw-light();
      text-transform: capitalize;
    }

    &[data-type-url=true], &[data-type-url]::placeholder {
      text-transform: lowercase;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 70%;
    z-index: -1;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  &:focus-within {
    z-index: 200;

    &::before, &::after {
      background-color: lime;
      box-shadow: 0 0 10px lime,
                  0 0 15px lime;
    }

    .form-input {
      background-color: #90EE90;
      color: #141414;

      &::placeholder {
        color: #93C572;
      }
    }

    .select {
      display: inline-block;
    }
  }

  .toggle-visibility {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;

    .icon {
      display: block;
    }
  }

  .select {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    text-align: start;
    background-color: #444;
    border-radius: $input-border-radius;
    
    .item {
      user-select: none;
      cursor: pointer;
      padding: 4px 12px;

      &[data-is-targeted], &:hover {
        color: #93C572;
      }
    }
  }
}

.form-text-area-wrapper {
  height: 80px;
  width: 100%;
  margin-bottom: $margin-bottom;
  position: relative;
  z-index: 100;

  textarea {
    resize: none;
    width: 100%;
    height: 100%;
    font-size: $input-font-size;
    padding: 8px;
    background-color: #000;
    border: 2px #000 solid;
    border-radius: $input-border-radius;
    color: $input-color;

    &::placeholder {
      @include fonts.fw-light();
    }

    &:focus {
      border: 2px #90EE90 solid;
      box-shadow: 0 0 10px lime;
    }
  }
}

.label-text {
  @include fonts.fw-bold();
  display: block;
  width: 100%;
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 5px;
  text-align: start;
}


$button-color: #FF7F50;

.form-submit {
  height: $input-height;
  display: inline-block;
  margin-left: auto;
  text-transform: uppercase;
  background-color: $button-color;

  &:hover {
    background-color: $button-color;
  }
}

.form-back {
  height: $input-height;
  display: inline-block;
  margin-right: auto;
  text-transform: uppercase;
  background-color: #141414;
  color: $button-color;
  border: 2px $button-color solid;

  &:hover {
    border: 2px $button-color solid;
  }
}