@use '../../styles/mixins' as *;

.header {
  background-color: #0096FF;
  border-radius: 10px;
  padding: 10px 0;
  position: relative;

  .title {
    font-size: 2rem;
    .highlight {
      color: #FFE066;
    }
  }

  .edit-btn-container {
    position: absolute;
    right: 0;
    bottom: 0;

    .btn {
      background-color: transparent;
      padding: 10px;
      
      .icon {
        $size: 26px;
        height: $size;
        width: $size;
        display: block;;
      }

      &:hover .icon {
        color: #ddd;
      }
    }
  }

  .spacer {
    height: 20px;
  }

  .description {
    font-size: 1.2rem;
    color: #B3D1F7;
    padding-inline: min(10vw, 80px);
  }
}

.main-container {
  @include scroll-container();

  .spacer {
    margin-bottom: 20px;
  }
}