@use '../styles/fonts' as *;
@use '../styles/mixins' as *;

.settings-container {
  @include scroll-container();
  display: inline-block;
  margin: auto;
  width: 75vw;
  max-width: 800px;
  padding-right: 30px;

  .setting-block {
    margin-bottom: 20px;
    padding-inline: 10px;

    .setting-title {
      @include fw-medium();
      text-align: start;
      margin-bottom: 4px;
      font-size: 18px;
    }
    .paragraph {
      @include fw-light();
      text-align: start;
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 20px;
    }
  }

  .btn {
    $buttonTextColor: #F9F6EE;
    $buttonColor: #80669d;
    $buttonHover: #6b5585;
    $buttonDangerColor: #BD3039;
    $buttonDangerHover: #96252c;

    display: block;
    text-transform: uppercase;
    background-color: $buttonColor;
    color: $buttonTextColor;
    margin-bottom: 10px;

    &:hover {
      background-color: $buttonHover;
    }

    &.delete {
      background-color: transparent;
      background-color: $buttonDangerColor;

      &:hover {
        background-color: $buttonDangerHover;
      }
    }
  }
}

.password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}