#root-container {
  width: 100vw;
  max-height: 100vh;
  overflow-y: scroll;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

#portal-root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

#bottom-portal {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
}