:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100dvh;
  // position: relative;
  overflow: hidden;
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu Bold', Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.8em;
  line-height: 1.1;
  margin-bottom: 15px;
}

p {
  font-size: 18px;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none !important;
  user-select: none;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.fw-light {
  font-family: 'Ubuntu Light', Arial, Helvetica, sans-serif;

  &.italic {
    font-family: 'Ubuntu Light Italic', Arial, Helvetica, sans-serif;
  }
}

.fw-medium {
  font-family: 'Ubuntu Medium', Arial, Helvetica, sans-serif;

  &.italic {
    font-family: 'Ubuntu Medium Italic', Arial, Helvetica, sans-serif;
  }
}

.fw-bold {
  font-family: 'Ubuntu Bold', Arial, Helvetica, sans-serif;

  &.italic {
    font-family: 'Ubuntu Bold Italic', Arial, Helvetica, sans-serif;
  }
}

@font-face {
  font-family: 'Ubuntu Light';
  src: url('@assets/fonts/Ubuntu/Ubuntu-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Light Italic';
  src: url('@assets/fonts/Ubuntu/Ubuntu-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('@assets/fonts/Ubuntu/Ubuntu-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Medium Italic';
  src: url('@assets/fonts/Ubuntu/Ubuntu-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Bold';
  src: url('@assets/fonts/Ubuntu/Ubuntu-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Ubuntu Bold Italic';
  src: url('@assets/fonts/Ubuntu/Ubuntu-BoldItalic.woff2') format('woff2');
}

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
